.userAvatar {
    max-width: 100px;
}

button {
    color: black;
    margin-top: 5px;
    cursor: pointer;
    outline: none !important
}

.container {
    display: flex;
    flex-wrap: wrap
}

.selected {
    font-weight: bold;
    color: black !important;
    font-size: x-large
}

.unselected {
    margin-left: 5px;
    color: white
}

.pagesCountContainer {
    margin-bottom: 10px;
    height: 40px;
    max-width: 900px;
    overflow: auto
}

.pagesCountContainer span:hover {
    cursor: pointer;
    font-weight: bold;
    color: black
}