.post {
    margin: 20px;
}

.MyPosts {
    padding-left: 20px;
    color: whitesmoke;
}

.text textarea {
    color: black;
    max-width: 920px;
    margin-bottom: 10px;
    resize: none;
}
.text input {
    color: black;
}

.text {}
.myPosts{
    margin-top: 40px;
}