.userAvatar {
    max-width: 100px;
    border-radius: 2em;
}

.icon {}

.icon button {
    margin-left: 10%;
}

button {
    color: black;
    margin-top: 5px;
    cursor: pointer;
    outline: none !important;
}

.container {
    display: flex;
}

b {
    color: black;
}

.userInfo {}

.userName {}

.userStatus {
    margin-top: 60px;
}

.location {
    margin-left: 200px;
}