.header {
  grid-area: h;
  background-color: #16a78f;
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 10px;
}

.search_input {
  margin: 10px;
  margin-top: 20px;
  border-radius: 14px;
  color: black;
  height: 30px;
  width: 230px;
  outline: none;
}

.login a {
  text-decoration: none;
  color: chartreuse ;
}
.login em {
  color: chartreuse;
}

.login {
  text-transform: uppercase;
  color: chartreuse;
  margin-top: 20px;
  font-weight: 900;
}