html {
    min-width: 100%;
}

.app_wrapper {
    display: grid;
    margin: auto;
    grid-template-areas: "h h" "n c";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    width: 100%;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #16a78f;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}