.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog_item {
    padding: 10px;
}

.dialog_item .active {
    color: orange;
}

.dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}

.dialogs textarea {
    max-width: 500px ;
    margin:50% ;
    resize: none;
}
