.nav {
    grid-area: n;
    margin: 15px 0px 20px;
    width: 100%;
    border-radius: 6px;
    max-height: 560px;
    background-color: #16a78f;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: slateblue;
}

.navItem {
    margin-top: 20px;
    text-align: center;
}

figure {
    display: inline-block;
    margin: 0;
    padding: 3px;
}

.friends {
    margin-top: 250px;
    
}
.friendsTitle{
    font-size: 2em;
    color: wheat;
}